.test_class { 
    color:#0a0;
}

body {
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
	font-size: 16px;
    margin:10px;
}

img {border:0}

h1  {
    color:#666;
    font-size:20px;
    margin:0 0 0.2em;
    padding:0 6px 0 0;
}

h2 {
	font-weight: lighter;
	font-size: 18px;
}

h1, h2, h3, h4, h5 {
    font-weight:bold;
}

input, select, textarea
{
	border: 1px solid #ddd;
	padding:3px 1px;
	margin:3px 0;
}

input.blur {
    color: #999;
}

textarea { width: 400px;}

input:focus, select:focus, textarea:focus {
    /*background-color: #efe578;*/
    border: 1px solid #efe578;
}

a:link, a:visited  {color: #666; text-decoration: none}
a:hover, a.selected_link   {background: #efe578; text-decoration: none; }

.no_background a:hover
{
    background:#fff
}

fieldset {
    border:0;
    border-top:1px solid #ddd;
}

label {
	width:100px; text-align:  right; margin-right:10px; float:left;
	padding:3px;
	margin:3px;
}

table.grid { border-collapse: collapse; }
table.grid,table.grid th,table.grid td { border: 1px solid #ddd; padding: 6px; }
table.grid th {color: #666; background-color: #efe578; padding:2px;}
table.grid tr.alternate_row { background-color: #f3f3f3;}

.menu {
    padding: 8px 0px;
}

.menu_border {
    border-top: 1px solid #ddd;
}

.float_right {
	float:right;
    text-align: right;
}

.list {
    font-size: 16px;
}

.light {color:#ddd;}

ul.todos {
    list-style-type: none;
    margin: 0px;
    padding: 0 0;
}

ul.todos li {
    /*background-image: url("../img/li.png");x
            background-position: 0.5em 0.3em; 
    background-repeat: no-repeat;*/
    padding-left: 0;
}

.big {
    font-size: 16px;
	padding: 5px;
}

.complete {
    color:#999;
    text-decoration: line-through;
    font-style:italic;
}

.complete .todo_description a {
    color:#999;
}

.complete a:hover {
    background-color:#fff;
    cursor: default;
}
.selected_todo  .todo_description {
    background-color:#efe578;
    /*font-style:italic;*/
}

.todo_priority {
    font-weight: bold;
    background-color:#ee0505;
    color:#fff;
    font-size:10px;
    margin:0 1px;
}

.today{
    font-weight: bold;
}

.overdue {
    font-weight: bold;
    text-decoration: underline;
}

.complete .todo_priority {
    background-color:#ddd;
    color:#000;
}

.kbd {
    -moz-border-radius: 4px 4px 4px 4px;
    background-color: #EEEEEE;
    border: 1px solid #AAAAAA;
    line-height: 1.8em;
    margin-left: 1px;
    margin-right: 1px;
    padding: 2px 3px;
    vertical-align: baseline;
    white-space: nowrap;
    font-size:16px;
}

.small {
    font-size: 10px;
    color: #666;
}

.sort_by {
    padding: 10px 0 0 0;
}

#help {
    border: 1px solid #ddd;
    width: 280px;
}

#message_text {
    -moz-border-radius: 4px 4px 4px 4px;
    background-color: #efe578;
    color: #d21;
    width:200px;
    text-align:center;
    font-weight: bold;
}

.todo_list_name {
    color:#999;
    font-style:italic;    
}

div.ui-datepicker {
 font-size:10px;
}

.content {
    width:210px;
}
