<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
{% load todo_custom_tags %}
<html xmlns="http://www.w3.org/1999/xhtml" >

<head>
    <title>{% block title %}KissTodo {%app_version_info%}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <link rel="icon" href="/favicon.ico" />

    <link href="{{MEDIA_URL}}css/main.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery-1.6.2.min.js"></script> 
        
    {% block extra_head %}{% endblock %}      
</head>

<body>
    <div class="container"> 
        
        <div class="header">
            <div class="float_right">
                {% if false %}
                <div class="menu">
                    Welcome, <strong>{%google_user%}</strong>
                </div>
                
                <div class="menu menu_border">
                    
                    <span>
                        <a href="#">menu voice 1</a> | 
                        <a href="#">menu voice 2</a> | 
                        <a href="#">menu voice 3</a> | 
                        <a href="#">menu voice 4</a>
                    </span>
                    
                </div>      
                {% endif %}
            </div>
        </div>
        
        <span class="content_title" style="width:100px;">
            <div style="display:inline">
                <span class="no_background"><a class="nobg" href="{% url todo.views.board %}"><img src="{{MEDIA_URL}}img/logo.png" alt="logo" /></a></span>
                <h1 style="display:inline">{% block content_title %}{% endblock %}</h1>
            </div>
            {% block content_headline %}{% endblock %}
        </span>
        
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        
        <p>&nbsp;</p>
    </div>    
</body>
</html>
