<!DOCTYPE HTML>
{% load todo_custom_tags %}
<html manifest="/cache.manifest" >
<head>
    <title>{% block title %}KissTodo {%app_version_info%}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <link href="/favicon.ico" rel="icon" />
    <link href="/favicon.ico" rel="apple-touch-icon" />

    <link href="{{MEDIA_URL}}css/main{% if mobile %}_mobile{% endif %}.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery-1.6.2.min.js"></script> 
        
    {% block extra_head %}{% endblock %}      
</head>

<body>
    <div class="container main_page" data-role="page" data-theme="d" id="main_page_{{selected_list_id}}"> 
        
        <div class="header" >
            <div class="float_right">
                {% if false %}
                <div class="menu">
                    Welcome, <strong>{%google_user%}</strong>
                </div>
                
                <div class="menu menu_border">
                    
                    <span>
                        <a href="#">menu voice 1</a> | 
                        <a href="#">menu voice 2</a> | 
                        <a href="#">menu voice 3</a> | 
                        <a href="#">menu voice 4</a>
                    </span>
                    
                </div>      
                {% endif %}
            </div>
        </div>
        
        <div class="content_title" data-role="header">
            <div style="display:inline">
                <span class="no_background">{% if not mobile %}<a class="nobg" href="{% url todo.views.board %}"><img src="{{MEDIA_URL}}img/logo.png" alt="logo" /></a>{% endif %}</span>
                <h1 style="display:inline">{% block content_title %}{% endblock %}</h1>
            </div>
            {% block content_headline %}{% endblock %}
        </div>
        
        <div class="content" data-role="content">
            {% block content %}{% endblock %}
        </div>
        
        <p>&nbsp;</p>
    </div>    
</body>
</html>
