<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
{% load todo_custom_tags %}
<html xmlns="http://www.w3.org/1999/xhtml" >

<head>
    <title>{% block title %}KissTodo {%app_version_info%}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    
    <link href="{{MEDIA_URL}}css/main.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery-1.5.min.js"></script> 
    
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery/overlay/jquery.hint.js"></script> 
    
    
    {% block extra_head %}{% endblock %}      
</head>

<body>
    <div class="container"> 
        
        <div class="header">
            <span class="no_background"><a class="nobg" href="/admin/"><img src="{{MEDIA_URL}}img/logo.png" alt="logo" /></a></span>
            <div class="float_right">
                <div class="menu" style="display:none;">
                    Welcome, <strong>{%google_user%}{{ user_OFF }}</strong>
                </div>
                
                {% if user.is_authenticated %}
                <div class="menu menu_border">
                    
                    <span>
                        <a href="/pm/task_board">Projects</a> | 
                        <a href="/admin/auth/user/">Users</a> | 
                        <a href="/admin/auth/group/">Groups</a> | 
                        <a href="/admin">Admin</a>
                    </span>
                    
                </div>      
                {% endif %}
            </div>
        </div>
        
        <p class="content_title" style="width:100px;">
            <h1 style="display:inline">{% block content_title %}{% endblock %}</h1>
            {% block content_headline%}
                <br/>
                welcome, <strong>{% google_user %}{{ user_OFF }}</strong>
            {% endblock %}
        </p>
        
        <div class="message" style="height:16px;margin:2px;">
            <span id="wait" style="display:none"><img src="{{MEDIA_URL}}img/wait.gif" alt="wait" /></span>
        </div>
        
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        
        <p>&nbsp;</p>
    </div>    
</body>
</html>
