{% extends "todo/base_site.html" %}
{% load todo_custom_tags %}

{% block content_headline%}
{{ block.super }}
<span class="small" style="float:right;position:absolute;right:100;">
<b>{% google_user %}</b> <span class="light"> | </span> 
<a href="#" id="network_switch">network</a> <span class="light"> | </span> 
<a href="{{logout_url}}">logout</a> <span class="light"> | </span> 
{% if mobile %}
<a href="{% url board %}" data-ajax="false">desktop board</a> <span class="light"> | </span> 
{% else %}
<a href="{% url mobile_board %}">mobile board</a> <span class="light"> | </span> 
{% endif %}
<a class="help_toggle" href="#">help</a>
</span>
<div style='display:none'>
<div id="help" class="small">
    <table>
    <tr><th colspan="2">Keyboard shortcuts</th></tr>
    <tr><td><span class="kbd">&larr;</span> / <span class="kbd">&rarr;</span></td><td>select prev. / next list</td></td>
    <tr><td><span class="kbd">&uarr;</span> / <span class="kbd">&darr;</span></td><td>select prev. / next todo</td></td>
    <tr><td><span class="kbd">1</span> .. <span class="kbd">4</span></td><td>change todo priority<br/><span class="small">1 = max, 4 = none</span></td></td>
    <tr><td><span class="kbd">C</span></td><td>(un)complete selected todo</td></td>
    <tr><td><span class="kbd">P</span></td><td>postopone selected todo</td></td>
    <tr><td><span class="kbd">D</span></td><td>delete selected todo</td></td>
    <tr><td><span class="kbd">TAB</span></td><td>change todo sorting</td></td>
    <tr><td><span class="kbd">ENTER</span></td><td>edit / save selected todo</td></td>
    <tr><td><span class="kbd">ESC</span></td><td>cancel current edit</td></td>
    </table>

    <table>
    <tr><th colspan="2">Special, not deletable lists</th></tr>
    <tr><td colspan="2"><b>@inbox</b>: when you delete a list, all todo are moved to @inbox.</td></tr>
    <tr><td colspan="2"><b>@hot</b>: a list containing all todo with a priority OR a due date in the past OR within the next 7 days.</td></tr>
    <tr><td colspan="2"><b>@trash</b>: when you delete a todo, it is moved into @trash list. You can un-delete the todo by clicking on the <img src="{{MEDIA_URL}}img/undo.png" /> icon.</td></tr>
    </table>
    
    <table>
    <tr><th colspan="2">Todo smart insert</th></tr>
    <tr><td colspan="2"><b>priority</b>: start a new task description with !1, !2 or !3, and the priority will be automatically assigned.</td></tr>
    </table>    
</div>
</div>
{% endblock %}