{% extends "todo/base_site.html" %}

{% block extra_head %}
{{ block.super }}
<script type="text/javascript">
$(function() {
    refresh_list_list();
    refresh_todo_list(-1);
    
    $('input[title!=""]').hint();
    
    $('.list').live('click', function () { 
        $('.list').removeClass('selected_link').removeClass('selected_list');
        $(this).addClass('selected_link').addClass('selected_list');
        
        var list_id=$('.selected_list').attr('id').replace('list_','');
        
        refresh_todo_list(list_id);
		
        return false;
    });
    
    $('.list_delete').live('click', function () { 
        
        
        var list_id=$(this).attr('id').replace('list_delete_','');
        var item = $("#delete_list_form_"+list_id);
        
        var data = {
            csrfmiddlewaretoken: item.find("input:text[name=csrfmiddlewaretoken]").val(),
            list_id: list_id
        };
   
        $.post("{%url todo.views.delete_list%}", data, function (response) {
                refresh_list_list(-1);
                refresh_todo_list(-1);
        });        
		
        return false;
    });    
});

function refresh_list_list(selected_list_id) {    
    $("#wait").fadeIn(200);
    $("#list_list").fadeOut(200);

    $.get("ajax/list_list/"+selected_list_id, function(response) {
        $("#list_list").html(response);
        $("#list_list").fadeIn(200);
        $("#wait").fadeOut(200);
    });   
}

function refresh_todo_list(list_id) {
        
    $("#wait").fadeIn(200);
    $("#todo_list").fadeOut(200);

    $.get("ajax/todo_list/"+list_id, function(response) {
        $("#todo_list").html(response);
        $("#todo_list").fadeIn(200);
        $("#wait").fadeOut(200);
        $("#add_todo_form").find("#description").focus();
        
        $(".list_delete").hide();
        $("#list_delete_"+list_id).show();
        
        if (list_id==-1) $("#todo_list").html("");
    });   
    
       
}
 
function add_list() {
    var item = $("#add_list_form");

    var data = {
        csrfmiddlewaretoken: item.find("input:text[name=csrfmiddlewaretoken]").val(),
        name: item.find("#name").val()
    };
    
    item.find("#name").val("");
            
    $.post("{%url todo.views.add_list%}", data, function (response) {
        refresh_list_list(response);
        refresh_todo_list(response);
    });

    return false;
}
 
function add_todo() {
    var item = $("#add_todo_form");
    var data = {
        csrfmiddlewaretoken: item.find("input:text[name=csrfmiddlewaretoken]").val(),
        description: item.find("#description").val(),
        list_id: item.find("#list_id").val()
    };
            
    $.post("{%url todo.views.add_todo%}", data, function (response) {
        var list_id=$('.selected_list').attr('id').replace('list_','');
        refresh_todo_list(list_id);
    });

    return false;
 }
</script>
{% endblock %}

{% block content_title %}My todo{% endblock %}

{% block content %}
<div style="display:none;height:10px;">
    <span id="wait" style="display:none;float:left;">
    <img src="{{MEDIA_URL}}img/wait.gif" alt="wait" />
    </span>
</div>
<p style="clear:both;display:none;">

<form method="post" action="." id="add_list_form" onSubmit="return add_list()"><input title="CREATE A NEW LIST" size="40" type="text" id="name" name="name" />{% csrf_token %}</form>
<div id="list_list" ></div>
<span id="todo_list" ></span>

{% endblock %}