{% extends "todo/base_site.html" %}

{% block extra_head %}
{{ block.super }}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/overlay/jquery.hint.js"></script> 
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/blockui/jquery.blockUI.js"></script> 

<script type="text/javascript">
$(function() {
    refresh_list_list();
    refresh_todo_list(-1);
   
    $('input[title!=""]').hint();
    
    $('.list').live('click', function () { 
        $('.list').removeClass('selected_link').removeClass('selected_list');
        $(this).addClass('selected_link').addClass('selected_list');
        
        var list_id=$('.selected_list').attr('id').replace('list_','');
        
        refresh_todo_list(list_id);
		
        return false;
    });
    
    $('.list_delete').live('click', function () { 
        var list_id=$(this).attr('id').replace('list_delete_','');
        var item = $("#delete_list_form_"+list_id);
        
        var data = {
            csrfmiddlewaretoken: item.find("input:text[name=csrfmiddlewaretoken]").val(),
            list_id: list_id
        };
   
        $.post("{%url todo.views.delete_list%}", data, function (response) {
                refresh_list_list(-1);
                refresh_todo_list(-1);
        });        
		
        return false;
    });    
    
    $('.todo_delete').live('click', function () { 
        var todo_id=$(this).attr("id").replace("todo_delete_","");
        var todo=$(this).parents("li");
        
        var item = $("#delete_todo_form_"+todo_id);
        
        var data = {
            csrfmiddlewaretoken: item.find("input:text[name=csrfmiddlewaretoken]").val(),
            todo_id: todo_id
        };
        
        $.post("{%url todo.views.delete_todo%}", data, function (response) {
            todo.hide(default_animation_speed);
        });        
		
        return false;
    });     

    $('.todo_complete').live('click', function () { 
        var todo_id=$(this).attr("id").replace("todo_complete_","");
        var todo=$(this).parents("li");
        var yesno = $(this).attr("checked");

        var item = $("#delete_todo_form_"+todo_id);
        
        var data = {
            csrfmiddlewaretoken: item.find("input:text[name=csrfmiddlewaretoken]").val(),
            todo_id: todo_id,
            complete: yesno
        };
        
        $.post("{%url todo.views.complete_todo%}", data, function (response) {
            todo.toggleClass("complete");
        });        
		
        return true;
    });         
});

default_animation_speed=150;

function lockGui() {
    //$("#wait").fadeIn(default_animation_speed);
    $.blockUI({message:"", overlayCSS:  {
		backgroundColor: '#000',
		opacity:	  	 0.1,
		cursor:		  	 'wait'
	},css: { backgroundColor: '#fff', color: '#fff'}});
    
    
}

function unlockGui() {
    $.unblockUI();
}

function refresh_list_list(selected_list_id) {    
    lockGui();
    $("#list_list").fadeOut(default_animation_speed);

    $.get("{% url todo.views.list_list '' %}"+selected_list_id, function(response) {
        $("#list_list").html(response);
        
        unlockGui();
        $("#list_list").fadeIn(default_animation_speed);
    });   
}

function refresh_todo_list(list_id) {
        
    lockGui();
    $("#todo_list").fadeOut(default_animation_speed);

    $.get("{% url todo.views.todo_list '' %}"+list_id, function(response) {
        $("#todo_list").html(response);
        $("#todo_list").fadeIn(default_animation_speed);
        
        $("#add_todo_form").find("#description").focus();
        
        $(".list_delete").hide();
        $("#list_delete_"+list_id).show();
        
        if (list_id==-1) $("#todo_list").html("");
        
        unlockGui();
    });   
    
       
}
 
function add_list() {
    var item = $("#add_list_form");

    var data = {
        csrfmiddlewaretoken: item.find("input:text[name=csrfmiddlewaretoken]").val(),
        name: item.find("#name").val()
    };
    
    if (data.name == '') return false;
    
    item.find("#name").val("");
            
    $.post("{%url todo.views.add_list%}", data, function (response) {
        refresh_list_list(response);
        refresh_todo_list(response);
    });

    return false;
}
 
function add_todo() {
    var item = $("#add_todo_form");
    var data = {
        csrfmiddlewaretoken: item.find("input:text[name=csrfmiddlewaretoken]").val(),
        description: item.find("#description").val(),
        list_id: item.find("#list_id").val()
    };
    
    if (data.description == '') return false;
            
    $.post("{%url todo.views.add_todo%}", data, function (response) {
        var list_id=$('.selected_list').attr('id').replace('list_','');
        refresh_todo_list(list_id);
    });

    return false;
 }
</script>
{% endblock %}

{% block content_title %}KissTodo{% endblock %}

{% block content %}

<form method="post" action="." id="add_list_form" onSubmit="return add_list()"><input class="big" title="&raquo; CREATE A NEW LIST" size="22" type="text" id="name" name="name" />{% csrf_token %}</form>
<div id="list_list" ></div>
<span id="todo_list" ></span>

{% endblock %}