<span class="small">your lists:</span>
<select id="selected_list_option" name="selected_list_option">
<option value="{{inbox_list.id}}" >{{ inbox_list.name }}</option>
<option value="-2">@hot</option>
<option value="-3">@trash</option>
{% for l in lists %}
    {% if l.name != inbox_list.name %}<option value="{{l.id}}" {%if l.id|stringformat:"s" == selected_list_id%}selected="selected"{%endif%} >{{ l.name }}</option>{% endif %}  
{% endfor %} 
</select>
<span class="list_edit_delete no_background" style="display:none;">
        <a href="#" class="list_edit"><img alt="edit" src="{{MEDIA_URL}}img/edit.png" /></a> 
        <a href="#" class="list_delete"><img alt="delete" src="{{MEDIA_URL}}img/cancel.png" /></a> 
</span>