<span class="list_item" id="list_item_{{inbox_list.id}}">
    <a class="list{% if inbox_list.id|stringformat:"s" == selected_list_id %} selected_link selected_list{% endif %}" id="list_{{inbox_list.id}}" href="#">{{ inbox_list.name }}</a>
    <form style="display:none" method="post" action="." class="delete_list_form" id="delete_list_form_{{inbox_list.id}}" onSubmit="return false;">
        <input type="hidden" value="{{list_id}}" id="list_id" name="list_id" />
    </form>
</span>
<span class="list light">  |  </span>
<span class="list_item" id="list_item_-2">
    <a class="list{% if -2|stringformat:"s" == selected_list_id %} selected_link selected_list{% endif %}" id="list_-2" href="#">@hot</a>
    <form style="display:none" method="post" action="." class="delete_list_form" id="delete_list_form_-2" onSubmit="return false;">
        <input type="hidden" value="{{list_id}}" id="list_id" name="list_id" />
    </form>
</span>    
<span class="list light">  |  </span>
<span class="list_item" id="list_item_-3">
    <a class="list{% if -3|stringformat:"s" == selected_list_id %} selected_link selected_list{% endif %}" id="list_-3" href="#">@trash</a>
    <form style="display:none" method="post" action="." class="delete_list_form" id="delete_list_form_-3" onSubmit="return false;">
        <input type="hidden" value="{{list_id}}" id="list_id" name="list_id" />
    </form>
</span>    
{% for l in lists %}
{% if l.name != "@inbox" %}
<span class="list_item" id="list_item_{{l.id}}">
    <a class="list{% if l.id|stringformat:"s" == selected_list_id %} selected_link selected_list{% endif %}" id="list_{{l.id}}" href="#">{{ l.name }}</a>
    <form style="display:none" method="post" action="." class="delete_list_form" id="delete_list_form_{{l.id}}" onSubmit="return false;">
        <input type="hidden" value="{{list_id}}" id="list_id" name="list_id" />
    </form>
    <span class="no_background">
        <a style="display:none" href="#" class="list_edit" id="list_edit_{{l.id}}"><img alt="edit" src="{{MEDIA_URL}}img/edit.png" /></a> 
        <a style="display:none" href="#" class="list_delete" id="list_delete_{{l.id}}"><img alt="delete" src="{{MEDIA_URL}}img/cancel.png" /></a> 
    </span>
</span>
{% if not forloop.last %}<span class="list light">  |  </span>{% endif %}
{% endif %}    
{% endfor %} 
