{% load humanize %}
<span class="todo_priority todo_priority_{{ todo.priority }}">{% if todo.priority < 4%}&nbsp;P{{ todo.priority }}&nbsp;{% endif %}</span>
<span class="todo_description {% if todo.is_overdue %}overdue{% endif %}{% if todo.is_today%} today{% endif %}"><a href="#">{{ todo.description }}</a></span>
<span class="small todo_list_name">{% if todo.due_date %}&nbsp;{{todo.due_date|naturalday}}{% if not todo.due_date|time:"H:i" == "00:00"%} at {{todo.due_date|time:"G:i"}}{% endif %}{% endif %}{% if todo.repeat_type %}&nbsp;<img alt="repeat" src="{{MEDIA_URL}}img/repeat.png" />{% endif %}{% if show_list %}&nbsp;[{{todo.list.name}}]{% endif %}</span>
<span class="no_background todo_delete_button_container" style="text-decoration: none;">
{% if mobile %}
<br/>
<a style="margin-left:-1px;" class='complete_button' href='#' data-ajax='false' data-role='button' data-icon='check' data-inline='true'>done</a>
<a class='edit_button' href='#' data-ajax='false' data-role='button' data-inline='true'>edit</a>
<a class="todo_delete" href="#" data-role="button" data-icon="delete" data-theme="e" data-inline="true" id="todo_delete_{{todo.id}}">delete</a>
{% else %}
<a href="#" data-role="button" data-icon="delete" data-inline="true" class="todo_delete" id="todo_delete_{{todo.id}}"><img alt="delete" src="{{MEDIA_URL}}img/cancel.png" /></a>
{% if todo.deleted %}&nbsp;<a href="#" class="todo_undelete" id="todo_undelete_{{todo.id}}"><img alt="undelete" src="{{MEDIA_URL}}img/undo.png" /></a>{% endif %}
{% endif %}
</span>
