{% if mobile %}
<!DOCTYPE html> 
<html> 
<body>
<div data-role="page" id="jqmobile_page_todo_edit" data-theme="d">
<div data-role="header"> 
             <h1>Edit todo "{{ todo.description|truncatewords:5 }}"</h1>
</div>
<div data-role="content">
{% else %}
<span class="small">Edit todo "{{ todo.description|truncatewords:5 }}"</span><br/>
{% endif %}
<div class="todo_form_field_container">

<span class="todo_form_field">
    <span class="small">priority</span><br/>
    <select id="edit_todo_priority" name="edit_todo_priority" >
        <option value="4" {% if todo.priority = 4 %}selected="selected"{% endif %}> - </option>
        <option value="1" {% if todo.priority = 1 %}selected="selected"{% endif %}>P1</option>
        <option value="2" {% if todo.priority = 2 %}selected="selected"{% endif %}>P2</option>
        <option value="3" {% if todo.priority = 3 %}selected="selected"{% endif %}>P3</option>
    </select>
</span>
{% if mobile %}<br/>{% endif %}
<span class="todo_form_field">
    <span class="small">description</span><br/>
    <input type="text" {% if not mobile %}style="width:145px"{% endif %} value="{{todo.description}}" id="edit_todo_description" name="edit_todo_description" />
</span>
{% if mobile %}<br/>{% endif %}
<span class="todo_form_field">
    <span class="small">list</span><br/>
    <select id="edit_todo_list_id" name="edit_todo_list_id" >
    {% for l in lists %}
        <option value="{{l.id}}" {% if todo.list.id = l.id%}selected="selected"{% endif %}>{{l.name}}</option>
    {% endfor %} 
    </select>
</span>

<div class="todo_form_field_separator"></div>

<span class="todo_form_field">
    <span class="small">due date</span><br/>
    <input {% if mobile %}type="datetime-local" value="{{todo.due_date|date:'Y-m-d'}}{% if todo.due_date and not todo.due_date|time:"H:i" == "00:00"%}T{{todo.due_date|time:'H:i'}}{% endif %}"{% else %}type="text" value="{{todo.due_date|date:'Y/m/d'}} {{todo.due_date|time:'H:i'}}"{% endif %}  id="edit_todo_due_date" name="edit_todo_due_date" />
</span>
{% if mobile %}<br/>{% endif %}
<span class="todo_form_field">
    <span class="small">repeat every</span><br/>
    <input {% if mobile %}type="range" min="1" max="30"{% else %}{% endif %} type="text"  size="4" value="{% if todo.repeat_every%}{{todo.repeat_every}}{% endif%}" id="edit_todo_repeat_every" name="edit_todo_repeat_every" />  
    <select id="edit_todo_repeat_type" name="edit_todo_repeat_type" >
    {% for x in repeat_type_choiches %}
        <option value="{{x.0}}" {% if todo.repeat_type = x.0%}selected="selected"{% endif %}>{{x.1}}</option>
    {% endfor %} 
    </select>    
</span>

<div class="todo_form_field_separator"></div>

<span class="todo_form_field">
    <span class="small">notify me</span><br/>
    <select id="edit_todo_notify_minutes" name="edit_todo_notify_minutes" >
        <option value="-1" {% if todo.notify_minutes = -1%}selected="selected"{% endif %}>don't notify</option>
        <option value="10" {% if todo.notify_minutes = 10%}selected="selected"{% endif %}>10 minutes before</option>
        <option value="30" {% if todo.notify_minutes = 30%}selected="selected"{% endif %}>30 minutes before</option>
        <option value="60" {% if todo.notify_minutes = 60%}selected="selected"{% endif %}>1 hour before</option>
        <option value="120" {% if todo.notify_minutes = 120%}selected="selected"{% endif %}>2 hours before</option>
        <option value="240" {% if todo.notify_minutes = 240%}selected="selected"{% endif %}>4 hours before</option>
        <option value="480" {% if todo.notify_minutes = 480%}selected="selected"{% endif %}>8 hours before</option>
        <option value="1440" {% if todo.notify_minutes = 1440%}selected="selected"{% endif %}>24 hours before</option>
    </select>    
</span>

<div class="todo_form_field_separator"></div>

<span class="todo_form_field_save">
    <input type="submit" name="edit_todo_ok" id="edit_todo_ok" data-icon="check" data-theme="b" data-inline='true' value="save" onClick="kisstodo_board.save_selected_todo();return false;"  />
</span>

<script type="text/javascript">
    {% if mobile %}$('input').textinput();{% else %}$("#edit_todo_due_date").datetimepicker({ dateFormat: 'yy/mm/dd', firstDay: 1 });{% endif %}
    //	
</script>

</div>
<div class="todo_form_field_separator"></div>
{% if mobile %}
</div>
</div>
</body>
{% endif %}