<ul class="todos">
    {% if not show_list %}
    <li>
        <form method="post" action="." id="add_todo_form" onSubmit="return kisstodo_board.add_todo()">
        <input type="text" title="&raquo; NEW TODO" autocomplete="off" id="description" name="description" />
        <input type="hidden" value="{{list_id}}" id="list_id" name="list_id" />
        </form>
    </li>
    {% endif %}
    <script type="text/javascript">$('#name').hint();$('#description').hint();</script>
    {% for t in todos %}  
    <li style="white-space:nowrap;" id="todo_li_{{ t.id }}" class="todo_li {% if t.complete %}complete{% endif %}">
        <input type="checkbox" class="todo_complete" id="todo_complete_{{t.id}}" {% if t.complete %}checked="checked"{% endif %} /> 
        {% with t as todo %}
            <span class="todo_item" style="display:inline">
            {% include "todo/todo_item.html" %}
            </span>
        {% endwith %}
    </li>
    {% endfor %} 
</ul>
