<ul class="todos">
    {% if not show_list %}
    <li>
        <span id="add_todo_form" class="add_todo_form">
        <input type="text" title="&raquo; NEW TODO" autocomplete="off" id="description" name="description" />
        <input type="hidden" value="{{list_id}}" id="list_id" name="list_id" />
        </span>
    </li>
    {% else %}
        <input type="hidden" value="{{list_id}}" id="list_id" name="list_id" />
    {% endif %}
    <script type="text/javascript">$('#name').hint();$('#description').hint();</script>
    {% for t in todos %}  
    <li style="white-space:nowrap;" id="todo_li_{{ t.id }}" class="todo_li {% if t.complete %}complete{% endif %}">
        <input type="checkbox" class="todo_complete" id="todo_complete_{{t.id}}" {% if t.complete %}checked="checked"{% endif %} />
        {% with t as todo %}
            <span class="todo_item" style="display:inline">
            {% include "todo/todo_item.html" %}
            </span>
        {% endwith %}
    </li>
    {% endfor %} 
</ul>
<div class="small">
    <br/>
    {% if show_empty_trash %}
    <span id="empty_trash_container" class="empty_trash_container">
    <a data-role="button" data-inline="true" id="empty_trash" href="#">empty trash</a>
    <script type="text/javascript">if (kisstodo_board.mobile) $('.empty_trash_container').trigger('create');</script>
    </span>
    {% endif %}
</div>

<script type="text/javascript">
if (kisstodo_board.mobile) {
    $('.add_todo_form').trigger('create');
    $('.todo_delete_button_container').trigger('create');
    $("input[type='checkbox']").hide();
    //$("input[type='checkbox']").checkboxradio();
}
</script>
