<ul class="todos">
    <li>
        <form method="post" action="." id="add_todo_form" onSubmit="return kisstodo_board.add_todo()">
        <input type="text" autocomplete="off" id="description" name="description" />
        <input type="hidden" value="{{list_id}}" id="list_id" name="list_id" />
        </form>
        <script type="text/javascript">$('#name').hint();</script>
    </li>
    {% for t in todos %}  
    <li id="todo_li_{{ t.id }}" class="todo_li {% if t.complete %}complete{% endif %}">
        <input type="checkbox" class="todo_complete" id="todo_complete_{{t.id}}" {% if t.complete %}checked="checked"{% endif %} /> 
        {% with t as todo %}
            {% include "todo/todo_item.html" %}
        {% endwith %}
        <form style="display:none" method="post" action="." class="delete_todo_form" id="delete_todo_form_{{l.id}}" onSubmit="return false;">
            <input type="hidden" value="{{todo_id}}" id="todo_id" name="todo_id" />
        </form>
    </li>
    {% endfor %} 
</ul>
